html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.custom-header {
    font-size: 13px;
}


html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    margin-bottom: 1rem;
}

table {
    background-color: aliceblue;
}

.btn {
    font-size: 18pt;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-success {
    background-color: #234DB7;
    color: #FFFFFF;
    font-size: 16px;
}


    .btn-success:hover {
        background-color: #394e8e;
    }
