html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1 {
    text-align: center;
}

.custom-header {
    font-size: 13px;
}


html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}




.form-group {
    margin-bottom: 1rem;
}

table {
    background-color: whitesmoke;
}


.table-col {
    background-color: #0A2240;
    color: white;
    
}

.btn {
    font-size: 10pt;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-sm {
    margin-right: 5px;
}


.btn-success {
    background-color: #0A2240;
    color: #FFFFFF;
}

.btn-success:hover {
    background-color: #2941e6;
}

.logo {
    height: 20px; /* Adjust size as needed */
    width: auto;
   
}

.splash-logo {
    height: 400px;
    width: auto;
}

.start-new-button {
    background-color: #0A2240;
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

footer {
    background-color: #0A2240;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 1.2rem;
}

