@{
    ViewData["Title"] = "Operations Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Operations Management</h1>
    <img src="~/img/HNG_pos_mono_P289.png" class="splash-logo" />
    <br />
    <a asp-controller="OperationsSchedule" asp-action="Step1">
        <input type="button" class="start-new-button" value="Start New Sales Order" />
    </a>
</div>
