@model HaverGroupProject.ViewModels.MultiStepOperationsScheduleViewModel

@{
    ViewData["Title"] = "Step 1 - Create Operations Schedule";
}

<h2>Step 1: Enter Operations Schedule Details</h2>

@*For Demo purposes(MT)*@
<div class="mb-4">
    <button type="button" class="btn btn-success ms-2" onclick="autofillForm()">Demo</button>

</div>


<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Step1" method="post">

        <div class="row">
            <div class="col-md-6">

                <div class="form-group mb-3">
                    <label asp-for="SalesOrdNum" class="form-label fw-bold">Sales Order Number</label>
                    <input asp-for="SalesOrdNum" class="form-control border-primary " placeholder="0" />
                    <span asp-validation-for="SalesOrdNum" class="text-danger"></span>
                </div>


            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label asp-for="KickoffMeeting" class="form-label fw-bold"> Kickoff Meeting</label>
                    <input asp-for="KickoffMeeting" type="date" class="form-control border-primary " />
                    <span asp-validation-for="KickoffMeeting" class="text-danger"></span>
                </div>

                @* <div class="form-group mb-3">
                <label asp-for="ReleaseApprovalDrawing" class="form-label fw-bold">Release Approval Drawing </label>
                <input asp-for="ReleaseApprovalDrawing" type="date" class="form-control border-primary " />
                <span asp-validation-for="ReleaseApprovalDrawing" class="text-danger"></span>
                </div> *@

            </div>
        </div>

        <button type="button" class="btn btn-success ms-2" onclick="window.history.back()">Back to List </button>
        <button type="submit" class="btn btn-primary">Next</button>
        <button type="submit" name="save" value="true" class="btn btn-warning">Save</button>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/progress.js"></script>


    @* For demo purposes only *@
    <script>
        function autofillForm() {
            // Set demo values for the fields
            document.getElementById('SalesOrdNum').value = '10475555';
            // document.getElementById('ExtSalesOrdNum').value = '33941234';
            // document.getElementById('PackageReleaseName').value = 'Package Alpha';
            document.getElementById('KickoffMeeting').value = '2025-03-12';
            // document.getElementById('ReleaseApprovalDrawing').value = '2025-03-15';
        }
    </script>

}