@model HaverGroupProject.ViewModels.MultiStepOperationsScheduleViewModel

@{
    ViewData["Title"] = "Step 1 - Create Operations Schedule";
}

<h2>Step 1: Enter Operations Schedule Details</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Step1" method="post">
    <div class="form-group">
        <label asp-for="SalesOrdNum" class="control-label"></label>
        <input asp-for="SalesOrdNum" class="form-control input-width", placeholder="0" value="" />
        <span asp-validation-for="SalesOrdNum" class="text-danger"></span>

        <label asp-for="ExtSalesOrdNum" class="control-label"></label>
        <input asp-for="ExtSalesOrdNum" class="form-control input-width" , placeholder="0" value="" />
        <span asp-validation-for="ExtSalesOrdNum" class="text-danger"></span>

        <label asp-for="PackageReleaseName" class="control-label"></label>
        <input asp-for="PackageReleaseName" class="form-control input-width" , placeholder="Enter Package Release Number here" />
        <span asp-validation-for="PackageReleaseName" class="text-danger"></span>

        <label asp-for="KickoffMeeting" class="control-label"></label>
        <input asp-for="KickoffMeeting" class="form-control input-width" />
        <span asp-validation-for="KickoffMeeting" class="text-danger"></span>

        <label asp-for="ReleaseApprovalDrawing" class="control-label"></label>
        <input asp-for="ReleaseApprovalDrawing" class="form-control input-width" />
        <span asp-validation-for="ReleaseApprovalDrawing" class="text-danger"></span>


    </div>

    <button type="submit" class="btn btn-primary">Next</button>

    <button type="button" class="btn btn-primary" onclick="window.history.back()">Go Back</button>
</form>